@charset "EUC-KR";

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, main, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font: inherit;
    vertical-align: baseline;
    
.bkeaXG {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 4px;
    padding: 0px 18px;
    width: 100%;
    height: 68px;
    box-shadow: rgb(218, 218, 218) 0px 2px 4px 0px;
    list-style: none;
}
.jgNlzA {
    display: none;
}
.eeSPXD {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin: 0px auto;
    width: 980px;
    height: 68px;
}

.iBSejC {
    display: flex;
    flex-direction: row;
    -webkit-box-pack: unset;
    justify-content: unset;
    -webkit-box-align: center;
    align-items: center;
    width: 90px;
    height: 100%;
}
.iBSejC a img {
    width: 95px;
    height: 41px;
}
.bkeaXG a {
    text-decoration: none;
}
.fnctdz {
    font-size: 15px;
    line-height: 41px;
}
.fFUUCK {
    margin: 0px auto;
    vertical-align: middle;
}
.lpvilU {
    float: left;
}
@media only screen and (max-width: 768px)
constructed stylesheet
.zVdSK {
    width: 240px;
}
constructed stylesheet
.zVdSK {
    float: left;
    position: relative;
    width: 335px;
    height: 100%;
    box-shadow: rgb(232, 232, 232) 0px 0px 0px inset, rgb(232, 232, 232) 2px 0px 1px;
}
.diaJSh {
    position: relative;
    top: 26px;
}
@media only screen and (max-width: 768px)
constructed stylesheet
.jlmkwz {
    margin: 0px;
    width: 100%;
}
constructed stylesheet
.jlmkwz {
    margin: 26px;
    width: 283px;
    height: 360px;
}
.jPyNbA {
    margin: 0px auto;
}
.bKiwEn {
    margin: 0px auto;
    width: 120px;
    height: 120px;
    line-height: 120px;
}
.nXhWv {
    max-width: 120px;
    max-height: 120px;
    vertical-align: middle;
}
.gtlEFq {
    margin: 16px 0px 0px;
    font-family: sans-serif;
    font-size: 14.4px;
    color: rgb(102, 102, 102);
    text-align: center;
}
.gtlEFq span {
    text-decoration: underline;
    cursor: pointer;
}
.hFAqGF {
    margin: 5px 0px 0px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    line-height: 1.35;
    letter-spacing: -0.24px;
    word-break: keep-all;
    color: rgb(0, 0, 0);
}

.eWRIin {
    margin: 6px 0px 0px;
    font-size: 15.6px;
    font-family: sans-serif;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    text-align: center;
    line-height: normal;
    letter-spacing: normal;
    color: rgb(0, 0, 0);
}

.jXTMPD {
    margin: 0px 2.8px 0px 9px;
    width: 16px;
    height: 15px;
}

.fWoIqv {
    margin: 4px 0px 0px;
    font-family: sans-serif;
    font-size: 11px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    text-align: center;
    line-height: normal;
    letter-spacing: normal;
    color: rgb(143, 143, 143);
}

.kCYJda {
    font-family: sans-serif;
    font-size: 11px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: rgb(50, 50, 50);
}

.bEGKKa {
    margin: 9px 0px 31px;
    text-align: center;
}
/* 별이미지2개 */
.bEGKKa img {
    margin: 0px 2.2px 0px 0px;
    width: 27px;
    height: 26px;
}
.bEGKKa img {
    margin: 0px 2.2px 0px 0px;
    width: 27px;
    height: 26px;
}
.fepUwr {
    display: flex;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}
@media only screen and (max-width: 600px)
constructed stylesheet
.ChfSF {
    float: right;
    margin-top: 70px;
    padding: 0px;
    width: 100%;
    height: auto;
    overflow-y: unset;
    position: relative;
    top: -290px;
}
@media only screen and (max-width: 600px)
constructed stylesheet
.ggBFft {
    display: none;
}
constructed stylesheet
.ggBFft {
    position: relative;
    width: 100%;
    height: 51px;
    display: flex;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    box-shadow: rgb(232, 232, 232) 2px 0px 2px inset, rgb(232, 232, 232) 1px 1px 1px;
    background-color: rgb(255, 255, 255);
}
.ceSKnw {
    margin: 0px 0px 0px 28px;
    font-family: sans-serif;
    font-size: 9px;
    color: rgb(74, 74, 74);
    line-height: 51px;
    text-align: left;
}
a:not([href]) {
    color: inherit;
    text-decoration: none;
}
constructed stylesheet
.gJnUVi {
    display: flex;
    flex-direction: row;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    margin: 0px 20px 0px 0px;
    width: 99px;
    height: 25px;
    border-radius: 12.5px;
    box-shadow: rgb(247, 178, 24) 2px 2px 4px 0px;
    background-image: linear-gradient(to right, rgb(255, 175, 0), rgba(248, 221, 18, 0.41)), linear-gradient(rgb(255, 210, 1), rgb(255, 210, 1));
    cursor: pointer;
}
.hFCcYY {
    width: 18px;
    height: 18px;
}
.guxEjN {
    font-family: sans-serif;
    font-size: 9px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: rgb(255, 255, 255);
}
@media only screen and (max-width: 600px)
constructed stylesheet
.qiqZx {
    position: relative;
    background-color: rgb(255, 255, 255);
    z-index: 10;
}
constructed stylesheet
.qiqZx {
    width: 100%;
}
@media only screen and (max-width: 600px)
constructed stylesheet
.gJJHMo {
    padding: 25px;
    border-radius: 25px;
    transform: rotate(-180deg);
    box-shadow: rgb(231, 245, 242) 0px 4px 5px 0px;
    background-color: rgb(255, 255, 255);
}
@media only screen and (max-width: 600px)
constructed stylesheet
.dzbAGj {
    transform: rotate(180deg);
}
constructed stylesheet
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, main, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font: inherit;
    vertical-align: baseline;
}
*, *::before, *::after {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
constructed stylesheet
body {
    line-height: 1;
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}
:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
*, *::before, *::after {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: border-box;
}
.ecJtOH {
    font-size: 16px;
    font-weight: bold;
    font-family: sans-serif;
    font-stretch: normal;
    font-style: normal;
    text-align: left;
    line-height: normal;
    letter-spacing: normal;
    color: rgb(0, 0, 0);
}
.ecJtOH span {
    margin: 0px 5px;
    font-size: 11px;
    color: rgba(0, 0, 0, 0.39);
    cursor: pointer;
    text-decoration: underline;
}
@media only screen and (max-width: 600px)
constructed stylesheet
.bWBIeD {
    width: 100%;
}
constructed stylesheet
.bWBIeD {
    display: flex;
    margin: 24px 0px 14px;
    width: 100%;
    height: 22px;
    cursor: pointer;
}
.bfTLtx {
    position: relative;
    width: 95%;
    height: 22px;
    background-color: rgb(173, 223, 97);
}
.jOFsCE {
    position: relative;
    width: 5%;
    height: 22px;
    background-color: rgb(253, 190, 49);
}
.bBxQOY {
    position: relative;
    width: 0%;
    height: 22px;
    background-color: rgb(239, 53, 107);
}
.hEnUeP {
    position: relative;
    width: 0%;
    height: 22px;
}
.hEnUeP {
    position: relative;
    width: 0%;
    height: 22px;
}
.WAEjY {
    position: relative;
    width: 0%;
    height: 22px;
    background-color: rgb(191, 191, 191);
}
.leYPZ {
    display: flex;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: unset;
    align-items: unset;
    padding: 0px 5px 0px 0px;
    font-size: 11px;
    font-weight: 300;
    letter-spacing: -0.38px;
    color: rgb(74, 74, 74);
}
.yYEFn {
    margin: 0px;
}

.kUOPit {
    display: none;
    width: 100%;
}

@media only screen and (max-width: 600px)
constructed stylesheet
.diKlNp {
    justify-content: space-around;
}
constructed stylesheet
.diKlNp {
    display: flex;
    flex-direction: row;
    -webkit-box-pack: unset;
    justify-content: unset;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    height: 43px;
    background-color: rgb(249, 249, 249);
    font-family: sans-serif;
}

@media only screen and (max-width: 769px)
constructed stylesheet
.fPKjSf {
    padding: 0px 0px 0px 14px;
    width: 5010px;
}
constructed stylesheet
.fPKjSf {
    width: 50px;
}

.bUrnmA {
    font-size: 10px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: rgb(0, 0, 0);
}

@media only screen and (max-width: 769px)
constructed stylesheet
.esWWqs {
    padding: 0px;
    width: 29010px;
}
constructed stylesheet
.esWWqs {
    width: 290px;
}

.bUrnmA {
    font-size: 10px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: rgb(0, 0, 0);
}

@media only screen and (max-width: 769px)
constructed stylesheet
.jzavYV {
    padding: 0px;
    width: 30010px;
}

.bUrnmA {
    font-size: 10px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: rgb(0, 0, 0);
}

@media only screen and (max-width: 600px)
constructed stylesheet
.itvCZT {
    justify-content: space-around;
}
constructed stylesheet
.itvCZT {
    position: relative;
    display: flex;
    flex-direction: row;
    -webkit-box-pack: unset;
    justify-content: unset;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    height: 51px;
    border-top: 1px solid rgb(232, 232, 232);
    border-left: 1px solid rgb(232, 232, 232);
    background-color: rgb(255, 255, 255);
}

@media only screen and (max-width: 769px)
constructed stylesheet
.iCvyeV {
    padding: 0px 0px 0px 20px;
    width: 50px;
}
constructed stylesheet
.iCvyeV {
    display: flex;
    flex-direction: row;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px 0px 0px 20px;
    width: 50px;
    height: 30px;
    font-family: sans-serif;
    overflow: hidden;
    cursor: pointer;
}

.iCvyeV img {
    margin-right: 4px;
    width: 26px;
}
constructed stylesheet
.lkNgnZ {
    width: 45px;
    height: 30px;
}

@media only screen and (max-width: 769px)
constructed stylesheet
.ivNkbV {
    padding: 0px;
    width: 310px;
}
constructed stylesheet
.ivNkbV {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    width: 310px;
    height: 30px;
    font-family: sans-serif;
    overflow: hidden;
    cursor: pointer;
}

@media only screen and (max-width: 600px)
constructed stylesheet
.dmEOsx {
    font-family: sans-serif;
    font-size: 9px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: rgb(0, 0, 0);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
constructed stylesheet
.dmEOsx {
    width: 100%;
    font-size: 12.5px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: rgb(0, 0, 0);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
@media only screen and (max-width: 600px)
constructed stylesheet
.iOqwiA {
    width: 100%;
}

@media only screen and (max-width: 600px)
constructed stylesheet
.lfPGNG {
    height: 51px;
}
constructed stylesheet
.lfPGNG {
    padding: 0px 20px;
    width: 100%;
    height: 56px;
    background-color: rgb(240, 249, 247);
}

@media only screen and (max-width: 600px)
constructed stylesheet
.gTXzyU {
    position: relative;
    display: flex;
    flex-direction: row;
    -webkit-box-pack: start;
    justify-content: start;
    -webkit-box-align: center;
    align-items: center;
    padding: 20px 0px 0px;
    font-family: sans-serif;
    font-size: 10px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: rgb(155, 155, 155);
}
constructed stylesheet
.gTXzyU {
    float: left;
    position: relative;
    width: 100%;
    line-height: 56px;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: rgb(155, 155, 155);
    text-align: left;
}

@media only screen and (max-width: 600px)
constructed stylesheet
.gTXzyU span {
    font-family: sans-serif;
    font-size: 13px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: rgb(0, 0, 0);
    margin: 0px 5px 0px 0px;
}
@media only screen and (max-width: 600px)
constructed stylesheet
.ruYIw {
    font-size: 11px;
}
constructed stylesheet
.ruYIw {
    margin: 0px 4px 0px 0px;
    display: inline;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: rgb(0, 0, 0);
}

@media only screen and (max-width: 600px)
constructed stylesheet
.iBIYVT {
    top: 10px;
}
constructed stylesheet
.iBIYVT {
    position: absolute;
    top: 10px;
    right: 6px;
    display: flex;
    flex-direction: row;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    margin: 2px 0px 0px;
    width: 30px;
    height: 30px;
}

.iOqwiA #ing-tab-image {
    cursor: pointer;
    transition: transform 0.5s ease 0s;
}
constructed stylesheet
.hBzPVC {
    position: absolute;
    right: 6px;
    margin: 2px 0px 0px;
    width: 15px;
    height: 10px;
}

@media only screen and (max-width: 600px)
constructed stylesheet
.ewwxOu {
    background-color: rgb(255, 255, 255);
}

@media only screen and (max-width: 600px)
constructed stylesheet
.eCaTar {
    padding: 18px 0px 0px 20px;
}
constructed stylesheet
.eCaTar {
    padding: 18px 0px 0px 24px;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: rgb(0, 0, 0);
}
@media only screen and (max-width: 600px)
constructed stylesheet
.ddnZXo {
    width: 100%;
}
constructed stylesheet
.ddnZXo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    -webkit-box-align: unset;
    align-items: unset;
    margin: 15px 0px 0px;
}
@media only screen and (max-width: 600px)
constructed stylesheet
.fVzirh {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 22%;
}
constructed stylesheet
.fVzirh {
    margin: 0px 0px 0px 25px;
    width: 170px;
    text-align: center;
}

@media only screen and (max-width: 600px)
constructed stylesheet
.cmllTL {
    font-family: sans-serif;
    font-size: 10px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: rgb(207, 207, 207);
}

@media only screen and (max-width: 600px)
constructed stylesheet
.cmllTL span {
    color: rgb(50, 184, 164);
}

@media only screen and (max-width: 600px)
constructed stylesheet
.elaDdB {
    margin: 6px 0px 0px;
    font-family: sans-serif;
    font-size: 33.1px;
    font-weight: bold;
    font-style: italic;
    font-stretch: normal;
    line-height: 0.6;
    letter-spacing: normal;
    text-align: center;
    color: rgb(0, 0, 0);
}

@media only screen and (max-width: 600px)
constructed stylesheet
.gPpYTo {
    position: relative;
    margin: 6px 0px 0px;
    width: 107px;
}

@media only screen and (max-width: 600px)
constructed stylesheet
.gPpYTo img {
    margin: 0px 3px 0px 0px;
    width: 17px;
    height: 17px;
}
/* 별이미지1개 */
@media only screen and (max-width: 600px)
constructed stylesheet
.gPpYTo img {
    margin: 0px 3px 0px 0px;
    width: 17px;
    height: 17px;
}
.jXpMrI {
    margin: 0px 20px 0px 25.5px;
    width: 1px;
    height: 96px;
    border: 1.2px solid rgb(215, 228, 225);
}

.fpIBJJ {
    font-family: sans-serif;
    font-size: 17px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: rgb(74, 74, 74);
}
@media only screen and (max-width: 600px)
constructed stylesheet
.esLOuc {
    height: 25px;
}
constructed stylesheet
.esLOuc {
    display: flex;
    flex-direction: row;
    -webkit-box-pack: unset;
    justify-content: unset;
    -webkit-box-align: center;
    align-items: center;
    padding: 8px 0px 0px;
}
@media only screen and (max-width: 600px)
constructed stylesheet
.esLOuc span {
    width: 18px;
}
@media only screen and (max-width: 600px)
constructed stylesheet
.jcjAQq {
    width: 125px;
}
constructed stylesheet
.jcjAQq {
    display: flex;
    flex-direction: row;
    -webkit-box-pack: end;
    justify-content: flex-end;
    -webkit-box-align: unset;
    align-items: unset;
    width: 200px;
    border-radius: 15px;
    background-color: rgb(191, 191, 191);
}
.lhKLkA {
    position: relative;
    display: flex;
    flex-direction: row;
    -webkit-box-pack: end;
    justify-content: flex-end;
    -webkit-box-align: unset;
    align-items: unset;
    width: 100%;
    height: 10px;
    z-index: 2;
    border-radius: 15px;
    background-color: rgb(253, 190, 49);
}

.gcvDao {
    position: relative;
    width: 95.4545%;
    height: 10px;
    border-radius: 15px;
    z-index: 1;
    background-color: rgb(10, 211, 189);
}

@media only screen and (max-width: 600px)
constructed stylesheet
.hJyazg {
    height: 25px;
}
constructed stylesheet
.hJyazg {
    display: flex;
    flex-direction: row;
    -webkit-box-pack: unset;
    justify-content: unset;
    -webkit-box-align: center;
    align-items: center;
    padding: 8px 0px 0px;
    height: 34px;
}
@media only screen and (max-width: 600px)
constructed stylesheet
.hJyazg span {
    width: 7px;
}
@media only screen and (max-width: 600px)
constructed stylesheet
.jcjAQq {
    width: 125px;
}
constructed stylesheet
.jcjAQq {
    display: flex;
    flex-direction: row;
    -webkit-box-pack: end;
    justify-content: flex-end;
    -webkit-box-align: unset;
    align-items: unset;
    width: 200px;
    border-radius: 15px;
    background-color: rgb(191, 191, 191);
}

.lhKLkA {
    position: relative;
    display: flex;
    flex-direction: row;
    -webkit-box-pack: end;
    justify-content: flex-end;
    -webkit-box-align: unset;
    align-items: unset;
    width: 100%;
    height: 10px;
    z-index: 2;
    border-radius: 15px;
    background-color: rgb(253, 190, 49);
}

.cIJYfs {
    position: relative;
    width: 90.9091%;
    height: 10px;
    border-radius: 15px;
    z-index: 1;
    background-color: rgb(10, 211, 189);
}

@media only screen and (max-width: 600px)
constructed stylesheet
.kXTxRB {
    height: 25px;
}
constructed stylesheet
.kXTxRB {
    display: flex;
    flex-direction: row;
    -webkit-box-pack: unset;
    justify-content: unset;
    -webkit-box-align: center;
    align-items: center;
    padding: 8px 0px 0px;
    height: 34px;
}

@media only screen and (max-width: 600px)
constructed stylesheet
.kXTxRB span {
    width: 14px;
}

@media only screen and (max-width: 600px)
constructed stylesheet
.coijvM {
    width: 125px;
}
constructed stylesheet
.coijvM {
    display: flex;
    flex-direction: row;
    -webkit-box-pack: end;
    justify-content: flex-end;
    -webkit-box-align: unset;
    align-items: unset;
    width: 200px;
    border-radius: 15px;
    background-color: rgb(239, 53, 107);
}

.djtbQK {
    position: relative;
    display: flex;
    flex-direction: row;
    -webkit-box-pack: end;
    justify-content: flex-end;
    -webkit-box-align: unset;
    align-items: unset;
    width: 95.4545%;
    height: 10px;
    z-index: 2;
    border-radius: 15px;
    background-color: rgb(253, 190, 49);
}

.bTUKkK {
    position: relative;
    width: 63.6364%;
    height: 10px;
    border-radius: 15px;
    z-index: 1;
    background-color: rgb(10, 211, 189);
}
@media only screen and (max-width: 600px)
constructed stylesheet
.frskZS {
    margin: 0px 13px;
    height: 1px;
    opacity: 0.6;
    background-color: rgb(141, 158, 186);
}

@media only screen and (max-width: 600px)
constructed stylesheet
.laglLk {
    padding: 21px 24px 21px 20px;
    border-bottom: 2px solid rgb(243, 249, 248);
}
@media only screen and (max-width: 600px)
constructed stylesheet
.AHABl {
    margin: 0px 0px 0px 5px;
}
constructed stylesheet
.AHABl {
    position: relative;
    top: 5px;
    margin: 0px 0px 0px 7px;
}

.kovKqO {
    display: flex;
    flex-direction: row;
    -webkit-box-pack: unset;
    justify-content: unset;
    -webkit-box-align: center;
    align-items: center;
}

@media only screen and (max-width: 600px)
constructed stylesheet
.iCdzCK {
    margin: 0px 6px 0px 0px;
    width: 29px;
    height: 29px;
}
@media only screen and (max-width: 600px)
constructed stylesheet
.ilyrqy {
    font-family: sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: rgb(74, 74, 74);
}

@media only screen and (max-width: 600px)
constructed stylesheet
.fsobyG {
    margin: 0px 5px 0px 0px;
    width: 64px;
    height: 20px;
    transform: rotate(-360deg);
    border-radius: 5px;
    background-image: linear-gradient(to right, rgb(247, 178, 24), rgba(247, 178, 24, 0.5));
    font-family: sans-serif;
    font-size: 9px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: rgb(255, 255, 255);
}
constructed stylesheet
.fsobyG {
    display: flex;
    flex-direction: row;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.lmonev {
    display: flex;
    font-family: sans-serif;
}

@media only screen and (max-width: 600px)
constructed stylesheet
.lmonev h4 {
    font-size: 9px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: rgb(50, 184, 164);
}
.fQaAyH {
    margin: 0px 5px;
    color: rgb(216, 216, 216);
}

@media only screen and (max-width: 600px)
constructed stylesheet
.lmonev h4 {
    font-size: 9px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: rgb(50, 184, 164);
}
.fQaAyH {
    margin: 0px 5px;
    color: rgb(216, 216, 216);
}
@media only screen and (max-width: 600px)
constructed stylesheet
.eFFlz {
    margin: 11px 0px 0px;
}

/* 별이미지1개 */
@media only screen and (max-width: 600px)
constructed stylesheet
.eFFlz img {
    width: 17px;
    height: 16px;
}

.bxSCfk {
    margin: 0px 0px 0px 9px;
    font-family: sans-serif;
    font-size: 11px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: rgb(148, 148, 148);
}


@media only screen and (max-width: 600px)
constructed stylesheet
.hKAoJh {
    padding: 15px 26px 17px 20px;
    width: 100%;
    margin-top: 15px;
}
constructed stylesheet
.hKAoJh {
    margin: 28px 0px 0px;
    height: 131px;
    border-radius: 18px;
    background-color: rgb(243, 249, 248);
}

@media only screen and (max-width: 600px)
constructed stylesheet
.cAEQab {
    font-size: 12.1px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: rgb(74, 74, 74);
}
constructed stylesheet
.cAEQab {
    display: flex;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    font-family: sans-serif;
}
.jkPbZw {
    display: flex;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: unset;
    align-items: unset;
    width: 147.6px;
    height: 1.2px;
    background-color: rgb(185, 198, 195);
}

.fhndZW {
    display: flex;
    flex-direction: row;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: unset;
    align-items: unset;
    width: 19px;
    height: 19px;
}

.fNxsxe {
    position: relative;
    margin-top: -6px;
    width: 13px;
    height: 13px;
    border-radius: 13px;
    border: none;
    background-color: rgb(185, 198, 195);
}
.fhndZW {
    display: flex;
    flex-direction: row;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: unset;
    align-items: unset;
    width: 19px;
    height: 19px;
}
.fNxsxe {
    position: relative;
    margin-top: -6px;
    width: 13px;
    height: 13px;
    border-radius: 13px;
    border: none;
    background-color: rgb(185, 198, 195);
}
.dLLtiC {
    position: relative;
    margin-top: -9px;
    width: 19px;
    height: 19px;
    border-radius: 13px;
    border: 3px solid rgb(10, 211, 189);
    background-color: rgb(83, 224, 208);
}
@media only screen and (max-width: 600px)
constructed stylesheet
.bExjff {
    font-size: 12.1px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: rgb(74, 74, 74);
}
constructed stylesheet
.bExjff {
    display: flex;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    margin: 20px 0px 0px;
    font-family: sans-serif;
}
.jkPbZw {
    display: flex;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: unset;
    align-items: unset;
    width: 147.6px;
    height: 1.2px;
    background-color: rgb(185, 198, 195);
}
.fhndZW {
    display: flex;
    flex-direction: row;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: unset;
    align-items: unset;
    width: 19px;
    height: 19px;
}
.fNxsxe {
    position: relative;
    margin-top: -6px;
    width: 13px;
    height: 13px;
    border-radius: 13px;
    border: none;
    background-color: rgb(185, 198, 195);
}
.fhndZW {
    display: flex;
    flex-direction: row;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: unset;
    align-items: unset;
    width: 19px;
    height: 19px;
}
.fNxsxe {
    position: relative;
    margin-top: -6px;
    width: 13px;
    height: 13px;
    border-radius: 13px;
    border: none;
    background-color: rgb(185, 198, 195);
}
.dLLtiC {
    position: relative;
    margin-top: -9px;
    width: 19px;
    height: 19px;
    border-radius: 13px;
    border: 3px solid rgb(10, 211, 189);
    background-color: rgb(83, 224, 208);
}
@media only screen and (max-width: 600px)
constructed stylesheet
.duEmEy {
    font-size: 12.1px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: rgb(74, 74, 74);
}
constructed stylesheet
.duEmEy {
    display: flex;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    margin: 20px 0px 0px;
    font-family: sans-serif;
}
.jkPbZw {
    display: flex;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: unset;
    align-items: unset;
    width: 147.6px;
    height: 1.2px;
    background-color: rgb(185, 198, 195);
}
.fhndZW {
    display: flex;
    flex-direction: row;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: unset;
    align-items: unset;
    width: 19px;
    height: 19px;
}
.fNxsxe {
    position: relative;
    margin-top: -6px;
    width: 13px;
    height: 13px;
    border-radius: 13px;
    border: none;
    background-color: rgb(185, 198, 195);
}
.fhndZW {
    display: flex;
    flex-direction: row;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: unset;
    align-items: unset;
    width: 19px;
    height: 19px;
}
.fNxsxe {
    position: relative;
    margin-top: -6px;
    width: 13px;
    height: 13px;
    border-radius: 13px;
    border: none;
    background-color: rgb(185, 198, 195);
}
.dLLtiC {
    position: relative;
    margin-top: -9px;
    width: 19px;
    height: 19px;
    border-radius: 13px;
    border: 3px solid rgb(10, 211, 189);
    background-color: rgb(83, 224, 208);
}
@media only screen and (max-width: 600px)
constructed stylesheet
.ixizAI {
    font-size: 13px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: rgb(0, 0, 0);
}

@media only screen and (max-width: 600px)
constructed stylesheet
.gbEfKg {
    font-size: 11px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.64;
    letter-spacing: normal;
}
constructed stylesheet
.gbEfKg {
    margin: 16px 0px 0px;
    font-family: sans-serif;
}

@media only screen and (max-width: 600px)
constructed stylesheet
.fiVgbV {
    font-size: 9px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: rgb(151, 151, 151);
}
constructed stylesheet
.fiVgbV {
    margin: 24px 0px 0px;
    text-align: left;
}
@media only screen and (max-width: 600px)
constructed stylesheet
.laglLk {
    padding: 21px 24px 21px 20px;
    border-bottom: 2px solid rgb(243, 249, 248);
}




























